In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df

           spor  act
0       beyzbol   25
1       beyzbol   22
2       beyzbol   19
3       beyzbol   25
4       beyzbol   24
5       beyzbol   25
6       beyzbol   24
7       beyzbol   23
8        futbol   21
9        futbol   27
10       futbol   29
11       futbol   26
12       futbol   30
13       futbol   27
14       futbol   26
15       futbol   23
16  sporcudegil   22
17  sporcudegil   21
18  sporcudegil   24
19  sporcudegil   27
20  sporcudegil   19
21  sporcudegil   23
22  sporcudegil   17

In [4]:
from scipy import stats

In [5]:
stats.shapiro(df[df['spor']=='beyzbol']['act'])

ShapiroResult(statistic=0.8133857846260071, pvalue=0.03973955288529396)

In [6]:
stats.shapiro(df[df['spor']=='futbol']['act'])

ShapiroResult(statistic=0.9425872564315796, pvalue=0.6367031335830688)

In [7]:
stats.shapiro(df[df['spor']=='sporcudegil']['act'])

ShapiroResult(statistic=0.9938083291053772, pvalue=0.9982357621192932)

In [8]:
from scipy.stats import levene

In [9]:
stats.levene(df[df['spor']=='beyzbol']['act'],
             df[df['spor']=='futbol']['act'],
             df[df['spor']=='sporcudegil']['act'],center="mean")

LeveneResult(statistic=0.5595980432126542, pvalue=0.5801310778400522)

In [10]:
from scipy.stats import f_oneway

In [11]:
f_oneway(df[df['spor']=='beyzbol']['act'],
             df[df['spor']=='futbol']['act'],
             df[df['spor']=='sporcudegil']['act'])

F_onewayResult(statistic=4.562872339363941, pvalue=0.023309318476868297)

In [12]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [13]:
tukey = pairwise_tukeyhsd(endog=df['act'],
                          groups=df['spor'],
                          alpha=0.05)

In [14]:
print(tukey)

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
==========================================================
 group1    group2   meandiff p-adj   lower   upper  reject
----------------------------------------------------------
beyzbol      futbol     2.75 0.1452 -0.7785  6.2785  False
beyzbol sporcudegil  -1.5179 0.5542 -5.1702  2.1345  False
 futbol sporcudegil  -4.2679 0.0204 -7.9202 -0.6155   True
----------------------------------------------------------

In [15]:
df[df['spor']=='beyzbol']['act'].mean()

23.375

In [16]:
df[df['spor']=='futbol']['act'].mean()

26.125

In [17]:
df[df['spor']=='sporcudegil']['act'].mean()

21.857142857142858