#                     Tek Yönlü Varyans (Anova) Çözümlemesi

### Bir okulun futbol - beyzbol ile ilgilenen ve sporcu olmayan öğrencilerinin aldığı ACT puanlar bakımından öğrencilerin ilgilendikleri spor dallarına göre bir farklılık olup olmadığı test edilecektir. Öğrencilerin aldıkları puanlar bakımından fark olup olmadığı tek yönlü varyans analizi ile testedilir. Tek yönlü varyans analizinden önce “Normallik Varsayımı” ve “Varyans Homojenliği Varsayımları” da test edilmelidir.

#### Öğrencilerin aldıkları puanlar ile bir dataframe oluşturuyoruz.

In [1]:
beyzbol <- c(25,22,20,25,24,25,24,23)
futbol <- c(21,27,29,26,30,27,26,23)
sporcudegil <- c(22,21,24,27,19,23,17)

In [2]:
act <- c(beyzbol,futbol,sporcudegil)

In [3]:
spor <- c(rep("beyzbol",8),rep("futbol",8),rep("sporcudegil",7))

In [4]:
df <- data.frame(spor,act)

In [5]:
df

   spor        act
1  beyzbol     25
2  beyzbol     22
3  beyzbol     20
4  beyzbol     25
5  beyzbol     24
6  beyzbol     25
7  beyzbol     24
8  beyzbol     23
9  futbol      21
10 futbol      27
11 futbol      29
12 futbol      26
13 futbol      30
14 futbol      27
15 futbol      26
16 futbol      23
17 sporcudegil 22
18 sporcudegil 21
19 sporcudegil 24
20 sporcudegil 27
21 sporcudegil 19
22 sporcudegil 23
23 sporcudegil 17

### Normallik  Varsayımının Test Edilmesi

#### Normallik Varsayımı Testi öğrencilerin aldıkları ACT puanlarının dağılımı ile Normal Dağılım arasında fark olup olmadığını incelememizi sağlayacaktır.


#### H0 : Öğrencilerin ACT puanlarının dağılımı ile normal dağılım arasında fark yoktur.
#### HS : Öğrencilerin ACT puanlarının dağılımı ile normal dağılım arasında fark vardır.

In [6]:
shapiro.test(beyzbol)

	Shapiro-Wilk normality test

data:  beyzbol
W = 0.85003, p-value = 0.09534

In [7]:
shapiro.test(futbol)

	Shapiro-Wilk normality test

data:  futbol
W = 0.94259, p-value = 0.6367

In [8]:
shapiro.test(sporcudegil)

	Shapiro-Wilk normality test

data:  sporcudegil
W = 0.99381, p-value = 0.9982

#### Her bir gözlem değerinin 50'den küçük olması sebebiyle Shapiro-Wilk testi sonucuna bakılır. Alınan sonuçlara bakıldığında her bir spor dalına ait sonuçlar Beyzbol: 0.095, Futbol: 0.636, Sporcu olmayanlar: 0.998 olarak hesaplanmıştır.

#### Her bir spora ait p değeri a=0.05 değerinden büyük olduğu için H0 hipotezi reddedilemez.Öğrencilerin aldıkları ACT puanlarının %5 anlamlılık düzeyinde normallik sağladığı söylenebilir.

### Varyansların Homojenliği Varsayımının Test Edilmesi

In [9]:
# library(car) kütüphanesi import edilerek leveneTest uygulanır. Paketi yüklemek için: install.packages("car") kodu çalıştırılmalıdır.
library(car)

Zorunlu paket yükleniyor: carData

Warning message:
"package 'carData' was built under R version 4.1.3"

In [10]:
leveneTest(act ~ spor,df,center = "mean")

Warning message in leveneTest.default(y = y, group = group, ...):
"group coerced to factor."

      Df F value   Pr(>F)
group  2 0.8493883 0.4425348
      20        NA        NA

#### Levene Testi'nde p değeri 0.58 olarak hesaplanmış olup a=0.05 anlamlılık düzeyinden büyük olduğu için,

#### F tablo değeri karşılaştırılacak olduğunda F(0.05,2,20) = 3.49 olup Levene İstatistik =0.560 değerinden büyük olduğu için,
#### Spor dallarına göre %5 anlamlılık düzeyinde grup varyanslarının homojenliği varsayımını sağladığını söyleyebiliriz.

In [11]:
oneway.test(act ~ spor, df, var.equal = T)

	One-way analysis of means

data:  act and spor
F = 4.7447, num df = 2, denom df = 20, p-value = 0.02059

In [12]:
TukeyHSD(aov(act~spor,df), conf.level = 0.95)

  Tukey multiple comparisons of means
    95% family-wise confidence level

Fit: aov(formula = act ~ spor, data = df)

$spor
                         diff        lwr       upr     p adj
futbol-beyzbol       2.625000 -0.8130319  6.063032 0.1558163
sporcudegil-beyzbol -1.642857 -5.2015583  1.915844 0.4852390
sporcudegil-futbol  -4.267857 -7.8265583 -0.709156 0.0172275

In [13]:
print(mean(beyzbol))
print(mean(futbol))
print(mean(sporcudegil))

[1] 23.5
[1] 26.125
[1] 21.85714

#### Öğrencilerin aldıkları notlar ilişkilendirildiğinde fark yaratan spor bölümü futboldur ve bu gruba ait öğrencilerin ACT puanları daha yüksek kabul edilir

In [14]:
# R üzerinde oluşturulan dataframei kullanma amaçlı csv içerisine aktarıldı
write.csv(df, "C:/Users/Asus/Desktop/hypothesis/data.csv", row.names=FALSE)